input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.gallery__slide {
    height: 396px;
}

.swiper-slide>figure>div,
.swiper-slide>figure>div>img {
    height: 100%;
    width: 100%;
}

.swiper-slide>figure>div>img {
    object-fit: cover;
}

.thumbSwiper .swiper-slide,
.mainSwiper .swiper-slide {
    border-radius: 6px;
    overflow: hidden;
}

.thumbSwiper .swiper-slide-thumb-active {
    border: 1px solid #eee;
}

@media screen and (min-width: 768px) {
    .gallery__slide {
        height: 620px;
    }
}

.yotpo * {
    font-family: 'Open Sans' !important;
}

.yotpo-label {
    display: none !important;
}

.yotpo-stars {
    margin-right: 4px !important;
}

.yotpo-regular-box:nth-child(1) {
    border-top: unset !important;
}

.yotpo-icon-star {
    color: rgb(31 41 55) !important;
}

.yotpo-display-wrapper>.yotpo-regular-box {
    height: unset !important;
    padding: 0px !important;
    margin: 0 !important;
}

.yotpo-stars-and-sum-reviews {
    display: block;
}

.write-review-button {
    top: 0 !important;
}

@media screen and (min-width: 768px) {
    .yotpo-stars-and-sum-reviews {
        display: none;
    }
}
